#node dependecies folder
#dev: use `npm install` to install dependencies from package.json
/node_modules

#API Keys/secret juice
#dev: download latest env from private cloud storage
.env

#Processing config for heroku
Procfile
