<div class="container d-none d-md-block mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="display-1" style="font-weight: bold;">OOPS!</h1>
      <h3 class="text-dark" style="font-weight: 200;">We looked everywhere, but we can't seem to find the page you're looking for</h3>
      <br>
      <br>
      <h5>Here's a few helpful links instead:</h5>
      <a href="/">Home</a>
      <br>
      <a href="/dashboard">Go to dashboard</a>
      <br>
      <a href="/community">Help a friend</a>
    </div>

    <div class="col-sm-6">
      <img src="/images/error.svg" alt="" style="width: 100%;">
      <button type="button" name="button" class="btn btn-dark btn-lg btn-block py-2" onclick="goHome()">Go to Home <i class="fas fa-arrow-right align-middle"></i></button>
    </div>
  </div>
</div>

<div class="container d-md-none mt-5">
  <h1 class="display-2" style="font-weight: bold;">OOPS!</h1>
  <h3 class="text-dark" style="font-weight: 200;">We looked everywhere, but we can't seem to find the page you're looking for</h3>
  <br>
  <br>
  <h5>Here's a few helpful links instead:</h5>
  <a href="/">Home</a>
  <br>
  <a href="/mentor">Find a Mentor</a>
  <br>
  <a href="/community">Ask someone</a>
</div>

<script type="text/javascript">
  function goHome() {
    window.location.replace("http://" + window.location.host);
  }
</script>
