<body>
  <div class="jumbotron jumbotron-title text-center" id="community-title">
    <h1>We are sorry to see you leave!</h1>
    <h2>You may visit us back at <a href="/" style="color: black;">Code Assist</a></h2>
  </div>
</body>
