<body>
  <div class="" id="blog-main-img" title="Photo by Clément H on Unsplash"></div>
  <!-- <h1 id="blog-main-text">Blog</h1> -->
  <div class="container" id="blog-main-body">
    <div class="row">
      <div class="col-sm-8">
        <h1>Blog</h1>
        <hr>
        <!-- Single button -->
        <div id="all-post-container" class="container list-group">
          <a class="list-group-item" href="/blog/what-are-the-top-3-most-high-demand-programming-languages-in-2018">
            <h1>What are the Top 3 most high-demand programming languages in 2018?</h1>
            <p>by Abhijay Saini | Posted June 16, 2018</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form action="https://codeassist.us18.list-manage.com/subscribe/post?u=c43395920c7f592fa0641204f&amp;id=9a3d3a3c1b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Get Weekly Tech Tips!</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c43395920c7f592fa0641204f_9a3d3a3c1b" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>

        <hr>

        <div class="container-fluid opt-in">
          <!-- Begin MailChimp Signup Form -->
          <div id="opt-in-1"><!-- Opt-In #1 Image--></div>
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form action="https://codeassist.us18.list-manage.com/subscribe/post?u=c43395920c7f592fa0641204f&amp;id=1b3428df61" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Improve your programming skills with these tools</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c43395920c7f592fa0641204f_1b3428df61" tabindex="-1" value=""></div>

                <div class="clear"><input type="submit" value="Download PDF" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"c43395920c7f592fa0641204f","lid":"9a3d3a3c1b"}) })</script>
</body>
