<body>
  <div class="" id="blog-main-img" title="Photo by Clément H on Unsplash"></div>
  <!-- <h1 id="blog-main-text">Blog</h1> -->
  <div class="container" id="blog-main-body">
    <!-- Single button -->
    <div id="all-post-container" class="container list-group">
        <a class="list-group-item" href="/blog/what-are-the-top-3-most-high-demand-programming-languages-in-2018">
          <h1>What are the Top 3 most high-demand programming languages in 2018?</h1>
          <p>by Abhijay Saini | Posted June 16, 2018</p>
        </a>
    </div>

  </div>
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"c43395920c7f592fa0641204f","lid":"9a3d3a3c1b"}) })</script>
</body>
