<!-- Side Bar -->
<div id="sidebar">
  <ul class="list-group">
    <li class="list-group-item"><i class="fas fa-plus"></i></li>
    <li class="list-group-item"><i class="far fa-comment-alt"></i></li>
    <li class="list-group-item"><i class="fas fa-sliders-h"></i></li>
  </ul>
</div>

<script
  src="/js/codehat-dash.js"
></script>
