<body>
</div>
  <div class="jumbotron jumbotron-title text-center" id="title">
    <h1>Codehat</h1>
  </div>



  <div class="container" id="community-body">
  	<form method="post">
  		<button class="btn btn-primary">Create Codehat</button>
  	</form>
  </div>

</body>
