<!DOCTYPE html>
<html>
<head>
	<title>Realtime Java</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/codehat/ace-collab-ext/ace-collab-ext.css"/>

	<script src="/codehat/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/codehat/ace-collab-ext/umd/ace-collab-ext.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="topBar">
	<label class="btn btn-primary">
		Upload File<input type="file" accept=".java" hidden>
	</label>
</div>

<div id="editor"></div>
<textarea id="output" readonly autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
<form id="programInputForm">
	<input disabled id="programInput" type="text" autocomplete="off">
</form>
<div id="buttons">
	<button class="btn btn-primary" id="run">Run</button>
	<img id="loadingWheel" src="https://www.shopirvinespectrumcenter.com/images/spinner.gif" style="display: none;">
</div>

<script>
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/textmate");
	editor.getSession().setMode("ace/mode/java");
	editor.setShowPrintMargin(false);
	editor.$blockScrolling = Infinity;
	editor.focus();
</script>

<script

src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
  alert('{{user.username}}'+' is your username and you have a clearance of level '+{{clearance}});
	var socket = io('{{namespace}}');
</script>
<script src="/codehat/script.js"></script>

</body>
</html>
