<style>
  #editor .ql-editor {
    min-height: 100px;
    background-color: white;
  }
</style>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(93% 0, 100% 0, 100% 100%, 83% 100%); clip-path: polygon(93% 0, 100% 0, 100% 100%, 83% 100%); height: 357px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(92% 0, 100% 0, 100% 100%, 82.5% 100%); clip-path: polygon(92% 0, 100% 0, 100% 100%, 82.5% 100%); height: 357px; z-index: 1; background-color: #0d75e894;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(7% 87%, 18% 91%, 33% 100%, 0 100%, 0 59%);
clip-path: polygon(7% 87%, 18% 91%, 33% 100%, 0 100%, 0 59%); height: 357px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(7% 85%, 18% 89%, 32% 100%, 0 100%, 0 57%);
clip-path: polygon(7% 85%, 18% 89%, 32% 100%, 0 100%, 0 57%); height: 357px; z-index: 1; background-color: #0d75e894;"></div>

<div class="jumbotron jumbotron-title text-left" style="background-color: #e9ecef4f; box-shadow: 0px 3px 6px 0px #4441412b;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Community</li>
      </ol>
    </nav>

    <h1 class="display-3 d-none d-sm-block">Community</h1>
    <h1 class="display-4 d-sm-none">Community</h1>
    <hr>

    <a href="/community/post"><p class="lead"><i class="far fa-handshake"></i> Get help from the Code Assist Community today.</p></a>
    <!-- <a href="/mentor"><button class="btn btn-outline-primary btn-lg" type="button">Ask a Mentor Instead</button></a> -->
  </div>
</div>

<div class="jumbotron bg-light container mentor-overview" style="box-shadow: 0px 4px 4px 2px #eee;">
  <p style="font-weight: 400; width: 100px;"><a href="/community" class="text-secondary">Go Back</a></p>
  <h1 style="font-weight: 200;">Post your Question <img id="filterLoading" src="/images/loadingwheel.gif" style="width: 50px; display: none;"></h1>
  <hr>
  <br>

  <div id="invalid-question" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
    <a href="#question"><strong>Invalid Question!</strong></a> The question must be at least 2 words in length.
  </div>

  <form id="save-post">
    <div class="form-group mb-4">
      <label for="email-choose"><strong>Choose your email</strong></label>
      <select class="form-control" id="email-choose">
        <option type="email">{{email}}</option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="language-choose"><strong>Programming Language</strong></label>
      <select class="form-control" id="language-choose" name="programming">
        <option>Python</option>
        <option>Java</option>
        <option>C/C++</option>
        <option>HTML</option>
        <option>CSS</option>
        <option>Javascript</option>
        <option>General</option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="exampleFormControlInput1"><strong>Question Title</strong></label>
      <input type="text" class="form-control" id="question" maxlength="150" placeholder="" value="{{question}}" autocomplete="off" required>
    </div>

    <div class="form-group mb-4">
      <label for="editor"><strong>Description</strong></label>
      <div id="editor">

      </div>
    </div>

    <div id="fileUploadContainer" class="form-group">
      <label for="fileUpload"><strong>File Upload (optional)</strong></label>
      <br>
      <label class="btn btn-primary mb-0">
        Select Files<input type="file" id="fileUpload" multiple="" accept=".java,.py,.cpp,.dat,.txt,.html,.css,.js,.zip,.jpg,.jpeg,.png" hidden>
      </label>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-lg mt-3 btn-block py-3">Submit Request<img id="postLoading" class="transparentBack ml-2" src="/images/loadingwheel.gif" style="height: 32px; display: none;"></button>

  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="description-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong class="text-warning">Warning!</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <a href="#"><strong>Pro tip!</strong></a> Having a description increases the chances of your question being answered by the community!
        </div>
        <strong>Do you really want to continue without a description?</strong>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add a description</button>

        <button id="no-description-submit" type="button" class="btn btn-secondary" data-dismiss="modal">Not necessary<img id="postLoading" class="transparentBack ml-2" src="/images/loadingwheel.gif" style="height: 32px; display: none;"></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/quill-post.js"></script>
