<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">

<body>
  <div class="jumbotron text-center">
    <h1>Ask the Code Assist Community </h1>

  </div>
  <!-- <form class="" action="post" method="post">
    <input type="text" name="title" value="" placeholder="Ask your question" autofocus>
    <textarea name="description" rows="8" cols="80"></textarea>
    <button type="submit" name="button">Post Question</button>
  </form> -->

  {{msg}}
  <div class="container mentor-overview">

    {{#if questionInvalid}}
      <div style="margin-bottom: 2rem;" class="alert alert-danger">
        Please enter a <strong>question</strong>
      </div>
    {{/if}}

    {{#if descriptionInvalid}}
      <div style="margin-bottom: 2rem;" class="alert alert-danger">
        Please enter a <strong>description</strong>
      </div>
    {{/if}}

    <form action="/community/post" method="post">

      <div class="form-group">
        <label for="language-choose">Programming Language</label>
        <select class="form-control" id="language-choose" name="programming">
          <option>Python</option>
          <option>Java</option>
          <option>C/C++</option>
          <option>HTML</option>
          <option>CSS</option>
          <option>Javascript</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Question Title</label>
        <input type="text" class="form-control" id="question" name="question" placeholder="" value="{{question}}">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea> -->

        <div id="editor">

        </div>
      </div>

      <button class="btn btn-primary" id="submit">Submit</button>

    </form>
  </div>
  <script type="text/javascript">
    window.onload = function(){
      // var Delta = Quill.import('delta');
      // Your code here
      var quillEditor = new Quill('#editor', {
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ['bold', 'italic', 'underline'],
            ['image', 'code-block']
          ]
        },
        theme: 'snow'
      });

      $('#submit').on('click', function(event) {
        event.preventDefault();
        console.log('');
        console.log('-------------------------------------');
        console.log('community-post clicked');
        var description = JSON.stringify(quillEditor.getContents().ops);
        var data = {
          question: $("input[name=question]").val(),
          description: description,
          programming: $("input[name=programming]").val()
        };
        console.log(data.description);
        console.log("Object Created");
        console.log("Object Type: " + typeof data.description);

        $.post("/community/post", data, function(data) {
          console.log("Data sent");
          console.log(data);
          window.location.replace("/community");
        });
      });
    };
  </script>
  <!-- <script type="text/javascript" src="/js/quill-post.js"></script> -->

</body>
