<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Posts</h1>

    <ul>
    {{#each posts}}
      <li>{{this.author}}: <a href="/community/{{this._id}}">{{this.question}}</a></li>
    {{/each}}
    </ul>
  </body>
</html>
