<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Posts</h1>

    {{#each posts}}
    {{this.question}}
    <ul>
      {{#each answers}}
      <li>Answer: {{this.answer}}</li>
      {{/each}}
    </ul>
    {{/each}}

  </body>
</html>
