<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ask a Question: </h1>
    <form class="" action="post" method="post">
      <input type="text" name="title" value="" placeholder="Ask your question" autofocus>
      <textarea name="description" rows="8" cols="80"></textarea>
      <button type="submit" name="button">Post Question</button>
    </form>
  </body>
</html>
