<body>
  <div class="jumbotron jumbotron-title text-center" id="title">
    <h1>Contact Us</h1>
  </div>



  <div class="container" id="community-body">
    <h3>Send us an email at <a href="mailto:contact@codeassist.club">contact@codeassist.club</a></h3>

    <h3>or email <strong>Chris Smith</strong> at <a href="mailto:christopher.smith4202@gmail.com">christopher.smith4202@gmail.com</a></h3>

    <h3>or <strong>Abhijay Saini</strong> at <a href="mailto:abhijay.saini@gmail.com">abhijay.saini@gmail.com</a></h3>
  </div>

</body>
