<div id="dashboard-sidepanel" class="clippy d-none d-md-block" style="-webkit-clip-path: polygon(0 0, 64% 0, 38% 100%, 0% 100%); clip-path: polygon(0 0, 64% 0, 38% 100%, 0% 100%); height: 120vh;"></div>

<div class="clippy d-none d-md-block" style="-webkit-clip-path: polygon(100% 0, 69% 100%, 100% 100%);
clip-path: polygon(100% 0, 69% 100%, 100% 100%); height: 120vh;"></div>

{{#if new_user}}
<div class="alert alert-warning w-100 rounded-0 py-3" role="alert" style="position: absolute; vertical-align: middle; text-align: center; z-index: 1;">
  🎉Welcome to Code Assist <span style="font-weight: bold;">{{username}}</span>! Here you can find lots of programming assistance. <a href="/account">Complete your Profile by clicking here.</a>
</div>

{{else if user.profile.assists_added}}
<div style="position: absolute; vertical-align: middle; text-align: center; z-index: 1;" class="alert alert-success alert-dismissible fade show w-100 text-center py-3 rounded-0" role="alert">
  <strong>🎉 Congratulations!</strong> Your account has been awarded <strong>{{user.profile.assists_added}} assists</strong>. <a href="/account">Visit your profile <i class="fas fa-arrow-circle-right text-primary"></i></a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

<div id="mainContainer" class="container-fluid pt-5 mt-3" style="opacity: 0.96;">
  <div class="row">
    <div class="col-lg-4 text-right text-light pt-5 d-none d-lg-block">
      <div class="content">
        <h1 class="display-4"><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
        <hr style="border-top: 1px solid rgba(255, 255, 255, 0.25);">
        <p class="lead">Everything you need, in one Place</p>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card-deck" style="max-width: 1100px;">

        <!-- Community -->
        <div class="card pt-4">
          <div class="card-img-top text-center" style="font-size: 72px;">
            <i class="fas fa-people-carry"></i>
          </div>
          <div class="card-body">
            <h1>Community</h1>
            <p class="card-text">Community of programmers and lots of opportunities for collaboration.</p>

            <ul class="list-group list-group-flush">
              <a href="/community">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-clipboard-list"></i></h2>
                  <p>Easily create, view and edit community posts and answers.</p>
                </li>
              </a>

              <a href="/community">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-search"></i></h2>
                  <p class="mb-1">Filter Community Posts by Language:</p>
                  <small class="text-muted">Python | </small>
                  <small class="text-muted"> Java | </small>
                  <small class="text-muted"> C/C++ | </small>
                  <small class="text-muted"> HTML | </small>
                  <small class="text-muted"> CSS | </small>
                  <small class="text-muted"> Javascript</small>
                </li>
              </a>
            </ul>

            <a href="/community"> <button type="button" name="button" class="btn btn-primary mt-3">Ask the Community <i class="fas fa-arrow-circle-right"></i></button> </a>
          </div>
        </div>

        <!-- Projects -->
        <div class="card pt-4">
          <div class="card-img-top text-center" style="font-size: 72px;">
            <i class="fas fa-project-diagram"></i>
          </div>
          <div class="card-body">
            <h1>Projects</h1>
            <p class="card-text">Collaborate with the programming community, friends, and teachers.</p>

            <ul class="list-group list-group-flush">
              <a href="/projects">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="far fa-share-square"></i></h2>
                  <p>Share and Collaborate with the programming community, friends, and teachers.</p>
                </li>
              </a>

              <a href="/projects">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-laptop-code"></i></h2>
                  <p class="mb-1">Built-in Code Editor for the language of your choosing</p>
                  <small class="text-muted">Integrated Chat + </small>
                  <small class="text-muted"> Live Collaboration + </small>
                  <small class="text-muted"> Code Preview</small>
                </li>
              </a>
            </ul>

            <a href="/projects"> <button type="button" name="button" class="btn btn-primary mt-3">Collaborate on Projects <i class="fas fa-arrow-circle-right"></i></button> </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
