<div id="dashboard-sidepanel" class="clippy d-none d-md-block" style="-webkit-clip-path: polygon(0 0, 64% 0, 38% 100%, 0% 100%); clip-path: polygon(0 0, 64% 0, 38% 100%, 0% 100%);"></div>

<div class="clippy d-none d-md-block" style="-webkit-clip-path: polygon(100% 0, 69% 100%, 100% 100%);
clip-path: polygon(100% 0, 69% 100%, 100% 100%);"></div>

<div class="container-fluid pt-5" style="opacity: 0.96;">
  <div class="row">
    <div class="col-lg-4 text-right text-light pt-5 d-none d-lg-block">
      <div class="content">
        <h1 class="display-4"><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
        <hr style="border-top: 1px solid rgba(255, 255, 255, 0.25);">
        <p class="lead">Everything you need, in one Place</p>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card-group" style="max-width: 1100px;">

        <!-- Community -->
        <div class="card pt-4">
          <div class="card-img-top text-center" style="font-size: 72px;">
            <i class="fas fa-people-carry"></i>
          </div>
          <div class="card-body">
            <h1>Community</h1>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <ul class="list-group list-group-flush">
              <a href="/community">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-clipboard-list"></i></h2>
                  <p>Easily view and answer Community Posts</p>
                </li>
              </a>

              <a href="/community">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-search"></i></h2>
                  <p class="mb-1">Filter Community Posts by Language:</p>
                  <small class="text-muted">Python | </small>
                  <small class="text-muted"> Java | </small>
                  <small class="text-muted"> C/C++ | </small>
                  <small class="text-muted"> HTML | </small>
                  <small class="text-muted"> CSS | </small>
                  <small class="text-muted"> Javascript</small>
                </li>
              </a>
            </ul>

            <a href="/community"> <button type="button" name="button" class="btn btn-primary mt-3">Ask the Community</button> </a>
          </div>
        </div>

        <!-- Mentor -->
        <div class="card pt-4">
          <div class="card-img-top text-center" style="font-size: 72px;">
            <i class="fas fa-users"></i>
          </div>
          <div class="card-body">
            <h1>Mentors</h1>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <ul class="list-group list-group-flush">
              <a href="/mentor">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="far fa-bell"></i></h2>
                  <p>Expect Quick Notifications from a team of Mentors</p>
                </li>
              </a>

              <a href="/mentor">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-cloud"></i></h2>
                  <p class="mb-1">All Communications stored in 1 place</p>
                </li>
              </a>
            </ul>

            <a href="/mentor"> <button type="button" name="button" class="btn btn-primary mt-3">Get Personalized Help</button> </a>
          </div>
        </div>

        <!-- CodeHat -->
        <div class="card pt-4">
          <div class="card-img-top text-center" style="font-size: 72px;">
            <i class="fas fa-project-diagram"></i>
          </div>
          <div class="card-body">
            <h1>Projects</h1>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <ul class="list-group list-group-flush">
              <a href="/codehat">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="far fa-share-square"></i></h2>
                  <p>Share and Collaborate with Friends and Mentors</p>
                </li>
              </a>

              <a href="/codehat">
                <li class="list-group-item list-group-item-action">
                  <h2><i class="fas fa-laptop-code"></i></h2>
                  <p class="mb-1">Built-in Code Editor for the language of your choosing</p>
                </li>
              </a>
            </ul>

            <a href="/codehat"> <button type="button" name="button" class="btn btn-primary mt-3">Get Personalized Help</button> </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
