<body>
  <!-- <div class="jumbotron" id="dashboard-title">
    <div class="container text-center">
      <h1>Dashboard</h1>
    </div>
  </div> -->

  <div class="container" id="dashboard-overview">
    <div class="row">
      <div class="col-sm-4" style="background-color: #FFEB59;">
        <p class="h3"><a href="/faq">FAQ</a></p>
      </div>
      <div class="col-sm-4" style="background-color: #EF8FA4;">
        <p class="h3"><a href="/mentor">Mentor</a></p>
      </div>
      <div class="col-sm-4" style="background-color: #446070">
        <p class="h3"><a href="/community">Community</a></p>
      </div>
    </div>
  </div>
</body>
