
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3>Code</h3>
  <form action="" id='codeform'>
    <input id="resetcode" autocomplete="off"/>
  </form>
  <h3>Email</h3>
  <form action="" id='emailform'>
    <input id="email" autocomplete="off"/>
  </form>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
$(function(){
  $('#codeform').submit(function(){
    $.post('/resetpass',{code:$('#resetcode').val(), username:oof},function(res){
      alert(res);
    });
    return false;
  });
var oof;
  $('#emailform').submit(function(){

    $.post('/sendpassresetemail',{email:$('#email').val()},function(res){
      oof=res;
    });
    return false;
  });
});
</script>
</body>
