<body>
    <div class="jumbotron" id="jumbotron-container">
      <div class="container text-center">
        <!--<h1>Code Assist</h1>-->
        <h1>Code</h1>
        <!-- <p>Live Coding Help</p> -->
        <p>Code</p>
        <form id="usernameForm" class="form-inline" method="post" action="/account.html">
          <div class="form-group" style="padding-right: 2%">
            <input id="text-box" name="username" type="text" placeholder="username" autofocus>
          </div>
          <button type="submit" class="btn btn-primary" id="signUp">Get Started<span class="glyphicon glyphicon-menu-right"></span></button>
        </form>
      </div>
    </div>

    <div class="container overview">
      <div class="container text-center title">
        <!--<h1>24-Hour live coding help</h1>-->
        <h1>Code</h1>
      </div>
      <section class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-cloud glyphicon-large" aria-hidden="true"></span>
              <h3>Realtime Code</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tasks glyphicon-large" aria-hidden="true"></span>
              <h3>Task Scheduling</h3>
              <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-send glyphicon-large" aria-hidden="true"></span>
              <h3>Communication</h3>
              <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <!--<script type="text/javascript" src="js/blur.js"></script>-->
</body>
