<div class="jumbotron text-light d-none d-lg-block" id="jumbotron-container">
  <div class="container text-left">
    <h1 class="display-1 mb-3">Code Assist</h1>
    <h1 class="lead pl-1" style="max-width: 50%; color: #f8f9fac9; font-size: 24px; line-height: 32px;">Real-time code collaboration tool meets an online community of programmers</h1>

    {{#if user}}
    <a href="/dashboard"><button class="btn btn-light btn-lg py-3 w-25 mt-5 ml-1" type="submit">Go to Dashboard<span class="glyphicon glyphicon-menu-right"></span></button></a>
    {{else}}
    <form class="form-inline" action="/dashboard" method="post" style="margin-top: 10%;">
      <input type="text" placeholder="username" name="username" class="text-light" style="font-size: 1.2rem; border-bottom: 2px solid #f8f9fa;" autofocus>
      <button class="btn btn-lg btn-light ml-4" type="submit" style="box-shadow: 1px 3px 7px 1px #00000036;">Collaborate Today<span class="glyphicon glyphicon-menu-right"></span></button>
    </form>
    {{/if}}
  </div>
</div>

<div class="jumbotron text-dark d-lg-none mt-auto" id="jumbotron-container">
  <div class="container text-left">
    <h1 class="display-3">Code Assist</h1>
    <h1 class="lead pl-1" style="max-width: 400px; font-size: 24px; line-height: 32px;">Real-time code collaboration tool meets an online community of programmers</h1>
    <a href="/dashboard"><button class="btn btn-dark btn-lg mt-5 py-3" style="box-shadow: 1px 3px 7px 1px #00000036;">Go to Dashboard<span class="glyphicon glyphicon-menu-right"></span></button></a>
  </div>
</div>

{{#if user.profile.assists_added}}
<div style="position: fixed; bottom: 100px; left: 25%; vertical-align: middle; text-align: center; z-index: 1;" class="alert alert-success alert-dismissible fade show w-50 text-center py-3 mx-auto d-none d-md-block" role="alert">
  <strong>🎉 Congratulations!</strong> Your account has been awarded <strong>{{user.profile.assists_added}} assists</strong>. <a href="/account">Visit your profile <i class="fas fa-arrow-circle-right text-primary"></i></a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
<!--<script type="text/javascript" src="js/blur.js"></script>-->
