<style>
  #editor .ql-editor {
    min-height: 100px;
    background-color: white;
  }
</style>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(0 85%, 0% 100%, 72% 100%);
clip-path: polygon(0 85%, 0% 100%, 72% 100%); height: 405px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(50% 85%, 100% 85%, 100% 100%, 91% 100%);
clip-path: polygon(50% 85%, 100% 85%, 100% 100%, 91% 100%); height: 405px; z-index: 1;     background-color: #0d75e8bd;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(93% 77%, 100% 26%, 100% 100%, 59% 85%);
clip-path: polygon(93% 77%, 100% 26%, 100% 100%, 59% 85%); height: 405px; z-index: 1;"></div>

<div class="jumbotron jumbotron-title text-left" style="background-color: #e9ecef4f; box-shadow: 0px 3px 6px 0px #4441412b;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/mentor">Ask a Mentor</a></li>
        <li class="breadcrumb-item active" aria-current="page">Post</li>
      </ol>
    </nav>

    <h1 class="display-3 d-none d-sm-block">Ask a Mentor</h1>
    <h1 class="display-4 d-sm-none">Mentors</h1>
    <hr>

    <a href="/mentor/post"><p class="lead"><i class="fas fa-user-graduate"></i>  Personalized help from experienced Code Assist Mentors</p></a>
    <a href="/community"><button class="btn btn-outline-primary btn-lg" type="button">Ask the Community Instead</button></a>

  </div>
</div>

<div class="jumbotron bg-light container mentor-overview" style="box-shadow: 0px 4px 4px 2px #eee;">
  <p style="font-weight: 400; width: 100px;"><a href="/mentor" class="text-secondary">Go Back</a></p>
  <h1 style="font-weight: 200;">Post your Question <img id="filterLoading" src="/images/loadingwheel.gif" style="width: 50px; display: none;"></h1>
  <hr>
  <br>

  <div id="questionInvalid" style="margin-bottom: 2rem; display: none;" class="alert alert-danger">
    Please enter a <strong>question</strong>
  </div>

  <div id="descriptionInvalid" style="margin-bottom: 2rem; display: none;" class="alert alert-danger">
    Please enter a <strong>description</strong>
  </div>

  <form action="/mentor/send" method="post">
    <div class="form-group mb-4">
      <label for="email-choose"><strong>Choose your email</strong></label>
      <select class="form-control" id="email-choose">
        <option type="email">{{email}}</option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="language-choose"><strong>Programming Language</strong></label>
      <select class="form-control" id="language-choose" name="programming">
        <option>Python</option>
        <option>Java</option>
        <option>C/C++</option>
        <option>HTML</option>
        <option>CSS</option>
        <option>Javascript</option>
        <option>General</option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="exampleFormControlInput1"><strong>Question Title</strong></label>
      <input type="text" class="form-control" id="question" placeholder="" value="{{question}}" autocomplete="off">
    </div>

    <div class="form-group mb-4">
      <label for="editor"><strong>Description</strong></label>
      <div id="editor">

      </div>
    </div>

    <div id="fileUploadContainer" class="form-group">
      <label for="fileUpload"><strong>File Upload (optional)</strong></label>
      <br>
      <label class="btn btn-primary mb-0">
        Select Files<input type="file" id="fileUpload" multiple="" accept=".java,.py,.cpp,.dat,.txt,.html,.css,.js,.zip,.jpg,.jpeg,.png" hidden>
      </label>
    </div>

    <button id="submit" class="btn btn-outline-primary btn-lg mt-3 btn-block py-3">Submit Request</button>

  </form>
</div>

<script type="text/javascript">
  window.onload = function() {
    var quillEditor = new Quill('#editor', {
      modules: {
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold', 'italic', 'underline'],
          ['image', 'code-block']
        ]
      },
      theme: 'snow'
    });

    $('#submit').on('click', function(event) {
      event.preventDefault();
      console.log('');
      console.log('-------------------------------------');
      console.log('community-post clicked');
      var description = JSON.stringify(quillEditor.getContents().ops);

      var formData = new FormData();
/*      for (var i = 0; i < $('input[type=file]')[0].files.length; i++) {
        formData.append('file', $('input[type=file]')[0].files[i]);
      }*/
      for (var i = 0; i < fileList.length; i++) {
        formData.append('file', fileList[i]);
      }
      formData.append('programming', $('#language-choose').val());
      formData.append('question', $("#question").val());
      formData.append('description', description);

      $.ajax({
          url: "/mentor/post",
          data: formData,
          type: 'POST',
          contentType: false,
          processData: false,
          success: function(resData) {
            $(".alert-danger").hide();
            // console.log(resData);
            if (!resData.questionInvalid && !resData.descriptionInvalid) {
              window.location.replace(resData.url);
            } else {
              if (resData.questionInvalid)
                $("#questionInvalid").show();
              if (resData.descriptionInvalid)
                $("#descriptionInvalid").show();
            }
          }
      });
    });

    var fileList = [];
    var fileUpload = $("#fileUpload")[0];
    $("#fileUpload").on('change', function(event) {
      for (var i = 0; i < fileUpload.files.length; i++) {
        var allowedExts = ['java','py','cpp','dat','txt','html','css','js','zip','jpg','jpeg','png'];
        var fileExt = fileUpload.files[i].name.split('.').pop();
        if (allowedExts.indexOf(fileExt) == -1) {
          $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>.' + fileExt + '</strong> file types are not allowed<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>').insertAfter(".mentor-overview hr")
          continue;
        }

        var breakOut = false;
        for (var j = 0; j < fileList.length; j++) {
          if (fileUpload.files[i].name == fileList[j].name) {
            breakOut = true;
            $('<div class="alert alert-danger alert-dismissible fade show" role="alert">A file with the name <strong>' + fileList[i].name + '</strong> already exists<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>').insertAfter(".mentor-overview hr")
            break;
          }
        }

        if (breakOut)
          continue;

        fileList.push(fileUpload.files[i]);
        $("#fileUploadContainer").append(`
          <div class="btn-group mx-1" role="group">
            <button id='${fileUpload.files[i].name}' class='btn btn-secondary fileBtn'>${fileUpload.files[i].name}</button>
            <button class="btn btn-danger deleteFileBtn"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>`);
      }

      $("#fileUploadContainer .deleteFileBtn").click(function(event) {
        event.preventDefault();

        for (var i = fileList.length-1; i >= 0; i--) {
          if (fileList[i].name == $(this).siblings(".btn").attr('id')) {
            fileList.splice(i, 1);
            // console.log(fileList);
            break;
          }
        }
        $(this).parent().remove();
        $('#fileUpload').val("");
      });

      $('#fileUploadContainer .fileBtn').click(function(event) {
        event.preventDefault();
      });

      // console.log(fileList);
    });
  };
</script>
