<body>
  <div class="jumbotron text-center" id="mentor-container">
    <h1>Ask a Mentor</h1>
    <a href="/mentor/history"><button type="button" class="btn btn-warning">View Old</button></a>
    <a href="/community"><button type="button" class="btn btn-primary">Ask community</button></a>
  </div>

  {{msg}}
  <div class="container mentor-overview">
    {{#if questionInvalid}}
      <div style="margin-bottom: 2rem;" class="alert alert-danger">
        Please enter a <strong>question</strong>
      </div>
    {{/if}}

    {{#if descriptionInvalid}}
      <div style="margin-bottom: 2rem;" class="alert alert-danger">
        Please enter a <strong>description</strong>
      </div>
    {{/if}}
  
    <form action="/mentor/send" method="post">
      <div class="form-group">
        <label for="email-choose">Choose your email</label>
        <select class="form-control" id="email-choose">
          <option type="email">{{email}}</option>
          <option>Email 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="language-choose">Programming Language</label>
        <select class="form-control" id="language-choose" name="programming">
          <option>Python</option>
          <option>Java</option>
          <option>C/C++</option>
          <option>HTML</option>
          <option>CSS</option>
          <option>Javascript</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Question Summary</label>
        <input type="text" class="form-control" id="question" name="question" placeholder="" value="{{question}}">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3">{{saved}}</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</body>
