<body>
  <div class="jumbotron" id="mentor-container">
    <h1>Ask a Mentor</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <p>Ask Community Instead</p>
        </div>

        <div class="col-sm-4">
          <p>Old Threads</p>
        </div>
      </div>
    </div>
  </div>
  {{msg}}
  <div class="mentor-overview">
    <form class="" action="send" method="post">
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</body>
