<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{post.question}}</h1>
    <ul>
      {{#each post.answers}}
      <li>Answer: {{this.answer}}</li>
      {{/each}}
    </ul>

  </body>
</html>
