<body>
  <div class="jumbotron jumbotron-title text-center">
    <h1>Sorry you don't have access to this post</h1>
    <h2>This Private Post belongs to someone else</h2>
    <p><a href="/mentor" style="color: black;"><strong>You can also create your own private post</strong></a></p>
  </div>
</body>
