<body>
  <div class="jumbotron bg-white" id="team-page">

    <div class="container" id="team-body">
      <div class="row mb-5">
        <div class="col-md-5 offset-sm-1 mb-3">
          <div id="a_img" class="image-box center-block mb-3" style="transform: rotate(90deg);">
            <!-- <img id="a_img" class="rounded float-left" src="/images/abhijay.jpg" alt="Abhijay: Co-Founder"> -->
          </div>

          <div class="container">
            <h3>Abhijay Saini</h3>
            <span>Junior at LASA High School, Austin, TX</span>
            <hr>
            <span class="text-secondary">Abhijay Saini is a technologist and an avid problem solver.<br>
              In an effort to find a collaboration platform for student programmers, Chris and Abhijay arrived at the idea of Code Assist, an educational website, which provides students an open playground to seek programming help, and collaborate on programming problems.</span>
            <hr>
          </div>
        </div>

        <div class="col-md-5 offset-sm-1 mb-3">
          <div id="c_img" class="image-box center-block mb-3">
          </div>
          <div class="container">
            <h3>Chris Smith</h3>
            <span>Junior at LASA High School, Austin, TX</span>
            <hr>
            <span class="text-secondary"> Chris Smith has had an big interest in technology ever since he was introduced to the world of programming.<br>
              In the past he has explored this interest through robotics, competitive programming, and other small programming projects. It wasn’t until Code Assist that Chris was able to direct his interest towards creating a community to help people learn and collaborate with each other.</span>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 offset-sm-1 mb-3">
          <div id="i_img" class="image-box center-block mb-3">
            <!-- <img id="a_img" class="rounded float-left" src="/images/abhijay.jpg" alt="Abhijay: Co-Founder"> -->
          </div>

          <div class="container">
            <h3>Ibraheem Moosa</h3>
            <span>Junior at LASA High School, Austin, TX</span>
            <hr>
            <span class="text-secondary">Ibraheem has always had been fascinated with Computer Science and Business.<br>
              He has participated in many clubs and created many projects which are relevant to these fields. Code Assist has provided Ibraheem with a valuable experience in topics that he is interested in. Ibraheem hopes to continue his work and pursue a career that involves a combination of his interests.</span>
            <hr>
          </div>
        </div>

        <div class="col-md-5 offset-sm-1 mb-3">
          <div id="s_img" class="image-box center-block mb-3">
          </div>
          <div class="container">
            <h3>Samuel Larson</h3>
            <span>Sophomore at LASA High School, Austin, TX</span>
            <hr>
            <!-- <span class="text-secondary"></span> -->
            <!-- <hr> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
