<body>
  <div id="team-page">
    <div class="jumbotron jumbotron-title text-center">
      <h1>Team</h1>
    </div>

    <div class="container" id="team-body">
      <div class="row">
        <div class="col-md-5 col-md-offset-1" id="left-col">
          <div id="a_img" class="image-box center-block">
            <!-- <img id="a_img" class="rounded float-left" src="/images/abhijay.jpg" alt="Abhijay: Co-Founder"> -->
          </div>

          <div class="container-fluid description center-block">
            <h3>Abhijay Saini</h3>
            <span>Sophomore at LASA High School, Austin, TX</span>
            <hr>
            <span>Abhijay believes that programming is a collaboration process.<br>
            Having a community of learners helping each other is one such way to learn programming.</span>
            <hr>
          </div>
        </div>

        <div class="col-md-5" id="right-col">
          <div id="c_img" class="image-box center-block">
          </div>
          <div class="container-fluid description center-block">
            <h3>Chris Smith</h3>
            <span>Sophomore at LASA High School, Austin, TX</span>
            <hr>
            <span>Chris believes websites are a great way to connect people as they learn.</span>
            <span>They allow people to improve their learning at their own pace with guidance from mentors and the community.</span>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
