<style>
  .navbar {
    display: none;
  }

  body {
    overflow-y: hidden;
  }
</style>

<div id="login-page" style="height: 100vh; width: 100vh">
  <div class="clippy" style="-webkit-clip-path: circle(54.3% at 0 90%); clip-path: circle(54.3% at 0 90%); height: 405px; z-index: 1; background-color: #0d75e894;"></div>
</div>
