<body>
  <div class="jumbotron jumbotron-title container">
    <div class="row">
      <!-- <img style="width: 25%" src="https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=1934&q=80" alt=""> -->
      <div id="blog-img"></div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h2>What are the Top 3 most high-demand programming languages in 2018?</h2>
      </div>

      <div class="col-sm-4">
        <!-- yall -->
      </div>
    </div>
    </div>
  </div>
</body>
