body{
  font-family: Nunito; sans-serif !important;
  background-color: none;
  background-attachment:fixed;
  /* overflow-x: hidden; */
}

.navbar {
  margin: 0;
  padding: 0;
  /* background-color: #0d75e8 !important; */
  background-color: #f7f7f9;
  border: 0;
  border-color: transparent;
  border-bottom: 0;
}

.navbar-collapse {
  background:none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar li a{
  color: black;
}

.navbar li a:hover {
  background-color: transparent;
}

.navbar li a:focus {
  background-color: transparent;
}

.navbar-brand {
  color: black;
  transition-property: border;
  transition: ease 0.2s;
}

.navbar-brand:hover {
  border-bottom-width: 5px;
  border-bottom-color: #0d75e8;
  border-bottom-style: solid;
  color: #0d75e8;
}

.jumbotron-title {
  /* background-color: #0d75e8; */
  margin-top: 50px;
  background-color: white;
}

.ql-container.noborder  {
  border: 0px !important;
}

.title-buttons {
  margin-top: 2%;
}

.title-buttons a{
  margin-right: 1%;
  margin-left: 1%;
}

#blog-main-body #mc-embedded-subscribe-form {
  font-family: Nunito; sans-serif;
}

#blog-main-body #mce-EMAIL {
  margin-right: 0 !important;
  width: 100% !important;
}

#blog-main-body #mc-embedded-subscribe {
  width: 100% !important;
  background-color: #036fe2 !important;
}

#blog-main-body #mc-embedded-subscribe:hover {
  background-color: #007bff !important;
}

#opt-in-1 {
  width: 50%;
  height: 190px;
  margin: auto;
  background-size: cover;
  /* background-position: 0% 75%; */
  background-image: url("/images/limited-edition.png");

}

.opt-in {
  box-shadow: 0 8px 6px -6px black !important;
}

#campaign-1-ad {
  margin-bottom: 20%;
}

.exit-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  transition: all .25s ease-out;
  background-color: #3e3e3e;
  z-index : 99999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Nunito';
  color: white;
}

.exit-btn:hover {
  background-color: #fff;
}
/*
========================================
Dashboard
========================================
*/
#dashboard-title {
  background-color: #0d75e8;
}

/*
========================================
404 Page (_404.handlebars)
========================================
*/
#_404-title{
  padding-top: 10%;
}

/*
========================================
                  BLOG
========================================
*/
#blog-main-img {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: 0% 75%;
  background-image: url("/images/blog3.jpg");
  /* filter: blur(2px); */
}

#blog-main-text {
  position: absolute;
  font-size: 8em;
  top: 30%;
  z-index: 999;
  color: white;
  left: 40%;
}

#blog-main-body {
  margin-top: 20px;
}

#blog-main-body .list-group-item {
  transition: 0.5s;
}

#blog-main-body #all-post-container {
  width: 100% !important;
}

#blog-main-body .list-group-item:hover {
  /* background-color: #0d75e8; */
  color: black;
}

#blog-img{
  margin: auto;
  margin-top: 3%;
  background-size: cover;
  background-position: center;
  width: 50%;
  min-width: 360px;
  height: 500px;
  /* background-position: 0% 75%; */
  background-image: url("https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=1934&q=80");
  border-radius: 5px;
}

#blog-creds p{
  text-align: right;
  font-size: 18px;
  font-weight: 300;
}

#blog-title {
  text-align: left;
  padding: 15px;
}

#blog-body {
  line-height: 1.58;
  font-size: 21px;
}

#blog-body p {
  margin-bottom: 7%;
}

#blog-body h1 {
  font-weight: bold;
}

#blog-body a {
  color: #0d75e8;
}

#blog-body .blog-notice {
  text-decoration: none;
}

#blog-body .alert-info {
  text-align: center;
  background-color: transparent;
  border-color: #0d75e7;
  transition: 0.5s;
}

#blog-body .alert-info:hover {
  text-decoration: none;
  background-color: #0d75e8;
  color: white;

}

#blog-body img {
  vertical-align: top;
}

#blog-body .subtitle {
  font-size: 18px;
  color: #95a0ab;
  text-align: center;
  font-style: italic;
}

#sidebar {
  position: absolute;
  left: 100%;
}

.overlay {
  transition: 0.5s ease-in;
  background-color: #007bff;
  /* background: linear-gradient(to right, #007bff, #434343ff); */
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  z-index : 9999;
  position: fixed;
  overflow: hidden;
}
#mc-sidebar {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 9999;
  font-family: 'Nunito';
  background-color: white;
  border-radius: 10px;
  padding-bottom: 3%;
  border-color: #007bff;
  border-style: solid;
  border-width: 1.5px;
}

#mc-sidebar .jumbotron {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #007bff;
  color: white;
}


#mc-sidebar #mc_embed_signup {
  font-family: 'Nunito' !important;
}

#mc-sidebar #mc-embedded-subscribe-form {
  margin: auto !important;
  text-align: center !important;
}

#mc-sidebar #mce-EMAIL, #mc-embedded-subscribe {
  width: 100% !important;
  height: 50px !important;
}

#mc-sidebar #mc-embedded-subscribe {
  background-color: #434343ff !important;
}

#mc-sidebar #mc-embedded-subscribe:hover {
  background-color: #007bff !important;
}

#mc-campaign-1-pic {
  margin: auto;
  background-image: url('/images/limited-edition.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-position: 50% 0;
}
