@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,700');

body {
  font-family: 'Nunito', sans-serif !important;
  background-color: #eeeeee54;
}

nav {
  z-index: 6;
  background-color: #eee;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  min-height: 100vh;
  background: linear-gradient(#009688, #007bff);
  box-shadow: 8px 2px 20px 1px rgba(0,0,0,.14);
  z-index: 5;
  padding-top: 60px;
}

#sidebar li {
  background: transparent;
  border: none;
  border-radius: none;
  text-align: left;
  padding: 0;
  padding-left: 15px;
  font-size: 40px;
  color: #fff8f0;
  margin: 38px 0;
  font-weight: 200;
  transition: 0.3s;
  max-width: 75px;
}

#sidebar li:hover {
  cursor: pointer;
  background-color: #0000001a;
}

#sidebar li.select {
  background-color: #0000001a;
}

.hide {
  display: none;
}

#sidebar #exit-btn {
  position: fixed;
  bottom: 15px;
  width: 75px;
  border-top: 3px solid white;
  padding-top: 5px;
}



#codehat-start {
  position: fixed;
  top: 160px;
  left: 120px;
}

#sidebar .sidebar-box {
  background: linear-gradient(#009688, #007bff);
  box-shadow: 8px 2px 20px 1px rgba(0,0,0,.14);
  position: fixed;
  width: 0px;
  height: 100%;
  top: 0;
  left: 75px;
  transition: 0.5s;
  opacity: 0.8;
  overflow: hidden;
}

#sidebar .sidebar-box .content {
  margin-top: 56px;
  padding-top: 53px;
  color: white;

}
/*
===========================
    Project Text Editor
===========================
*/

html, body {
	height: 100%;
	margin: 0;
}

#code-editor {
  height: 100%;
}

#code-editor #editor {
	height: 60%;
	font-size: 14px;
}

/* styling for tab input */
.hiddenSpan {
	display: none;
	white-space: pre;
}

.fileName {
	outline: none;
	border: none;
	cursor: pointer;
	min-width: 55px;
	width: 55px;
}

.close {
	outline: none !important;
	color: #a2a2a2 !important;
}

.close:hover {
	color: red !important;
}

.fileName, .hiddenSpan {
	font: inherit;
	margin: 0;
	padding: 0;
}

.nav-link {
	padding-right: 1.5rem !important;
}
/*----------*/

#topBar {
	margin: 10px;
}

#output {
	min-height: 25%;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background-color: #f1f1f1;
	resize: vertical;
	border-color: rgb(210, 208, 208);
}

.outputError {
	border-color: red !important;
}

#programInput {
	width: 100%;
}

#buttons {
	width: 104px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

#run {
	width: 100px;
	height: 40px;
}

button:enabled {
	cursor: pointer;
}

#loadingWheel {
	margin: 0 10px;
	height: 40px;
    display: inline-block;
    vertical-align: top;

    position: absolute;
    left: 100%;
}

[hidden] {
	display: none !important;
}

/*
======================
  Projects Homepage
======================
*/

#projects {
  margin-left: 75px;
  transition: 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

#projects .card {
  border-radius: 20px;
  width: 200px;
  height: 220px;
  box-shadow: 6px 4px 19px 0px rgba(0,0,0,.14);
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  opacity: 0.92;
  /* border-bottom: 1px solid #007bff; */
}

#projects .card:hover {
  box-shadow: 0px 0px 1px 7px rgba(0,0,0,.14);
  opacity: 1;
  color: #007bff;
}

#projects .card .card-body {
  font-size: 72px;
}

#projects .card button {
  border-radius: 20px;
}

#projects .card .card-footer {
  background-color: #007bff;
  color: white;
  border-radius: 2px 2px 20px 20px;
}

#projects .card-link {
  margin: 10px 30px 30px 10px;
}
#projects .container-fluid {
  padding: 40px 40px 20px 100px;

}
#projects .flex-container {
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  /* justify-content: space-evenly; */
  align-items: flex-start;
}

#projects .dropdown-menu {
  position: absolute;
  display: block;
  border: none;
  top: 305px;
  left: 484px;
  background-color: rgba(218, 218, 218, 0.3);
  transition: 0.4s;
}

#projects .dropdown-menu:hover {
  background-color: rgba(218, 218, 218, 0.49);
}

#projects .dropdown-menu:hover > * {
  color: #007bff !important;
}

#projects .dropdown-menu .dropdown-item {
  color: #3e515a;
}

#projects .dropdown-menu .dropdown-item:hover {
  background-color: inherit;
}

#projects .dropdown-menu .dropdown-item:active {
  background-color: inherit;
}

#projects .dropdown-menu .dropdown-item:focus {
  background-color: inherit;
}
/*
=======================
    Project Settings
=======================
*/

#settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363b40bf;
  z-index: 9;
}

#settings #box {
  top: 80px;
  left: 10%;
  right: 10%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  position: fixed;
}

#settings .title {
  font-weight: 700;
}
/*
.close {
  margin: 0;
  vertical-align: middle;
} */

#settings #add-more-emails:hover {
  color: #007bff;
  cursor: pointer;
}

#close-settings {
  position: fixed;
  top: 80px;
  left: calc(10%);
  font-size: 40px;
  color: #4e4a4a;
  opacity: 1;
  z-index: 10;
  transition: 0.5s;
}

#close-settings:hover {
  color: black;
  cursor: pointer;
  transform: rotate(90deg);
}


/*
====================
  ParticleJS
====================

canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eeeeee54;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
*/
