body{
  font-family: 'Nunito', sans-serif !important;
  background-color: none;
  background-attachment:fixed;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #0d75e8 !important;
  border: 0;
  border-color: transparent;
  border-bottom: 0;
}

.navbar-collapse {
  background:none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar li a{
  color: white;
}

.navbar li a:hover {
  background-color: transparent;
}

.navbar li a:focus {
  background-color: transparent;
}

.navbar-brand {
  color: white;
}

.jumbotron-title {
  background-color: #0d75e8;
  color: white;
}

.ql-container.noborder  {
  border: 0px !important;
}

.title-buttons {
  margin-top: 2%;
}

.title-buttons a{
  margin-right: 1%;
  margin-left: 1%;
}

/*
========================================
Dashboard
========================================
*/
#dashboard-title {
  background-color: #0d75e8;
}

/*
========================================
Mentor Page
========================================
*/

#mentor-container {
  background-color: #0d75e8;

}

#mentor-container h1{
  text-align: center;
}

#mentor-container .container{
  padding-top: 2%;
}

#history-body #filter-button-body {
  padding: 0 !important;
  margin-bottom: 20px;
}

#history-body #filter-button {
  border: none;
}

/*
========================================
Community Page
========================================
*/

#community-body #filter-button-body {
  padding: 0 !important;
  margin-bottom: 20px;
}

#community-body #filter-button {
  border: none;
}

#community-title {
  background-color: #0d75e8;

}

/*
========================================
Account Page
========================================
*/

#account-body #labels label{
  font-size: 20px;
  margin-top: 10px;
  height: 100;
  color: #007bff;
}

#account-body .jumbotron .row {
  margin-bottom: 3%;
}

#account-body .glyphicon-user {
  font-size: 80px;
}

#account-body #changePassword {
  margin-top: 2%;
}

/*
========================================
Community Post Page (community-post.handlebars)
========================================
*/

#community-post-title {
  background-color: #0d75e8;
}

/*
========================================
Community Post Page (community-post.handlebars)
========================================
*/
#post-title {
  background-color: #0d75e8;
}

/*
========================================
404 Page (_404.handlebars)
========================================
*/
#_404-title{
  padding-top: 10%;
}


/*
========================================
Team Page (team.handlebars)
========================================
*/
#team-page {
  overflow-x: none;
}

#team-body .image-box{
  width: 300px;
  height: 300px;
  background-size: cover;
  transform: rotate(90deg);
  background-position: top;
  border-radius: 50%;
  -webkit-transition: 0.75s; /* Safari */
  transition: 0.75s;
}

#team-body #c_img{
  background-image: url('../images/chris.jpg');
}

#team-body #a_img{
  background-image: url('../images/abhijay.jpg');
}

#team-body .col-md-6{
  width: 300px !important;
}

#team-body .description hr{
  border-style: solid;
}
/* #team-body #right-col {
  border-left: solid black 1px;
}

#team-body #left-col {
  border-left: solid black 1px;
} */
