/*
========================================
Dashboard
========================================
*/

body{
  font-family: 'Nunito', sans-serif !important;
  background: white;
  background-attachment:fixed;
}

.navbar {
  margin: 0;
  padding: 0;
  background: transparent !important;
  border: 0;
  border-color: transparent;
  border-bottom: 0;
}

.navbar-collapse {
  background:none !important;
  border: none !important;
  box-shadow: none !important;
}

/*
========================================
Mentor Page
========================================
*/

#mentor-container h1{
  text-align: center;
}

#mentor-container .container{
  padding-top: 2%;
}

#history-body #filter-button-body {
  padding: 0 !important;
  margin-bottom: 20px;
}

#history-body #filter-button {
  border: none;
}

/*
========================================
Community Page
========================================
*/

#community-body #filter-button-body {
  padding: 0 !important;
  margin-bottom: 20px;
}

#community-body #filter-button {
  border: none;
}


/*
========================================
Account Page
========================================
*/

#account-body #labels label{
  font-size: 20px;
  margin-top: 10px;
  height: 100;
  color: #007bff;
}

#account-body .jumbotron .row {
  margin-bottom: 3%;
}

#account-body .glyphicon-user {
  font-size: 80px;
}

#account-body #changePassword {
  margin-top: 2%;
}
