body{
  font-family: 'Nunito', sans-serif !important;
  /* background: linear-gradient(-135deg, #83b6ef, #0d75e8); */
  background-color: rgb(255, 255, 255, 0.7);
  background-attachment:fixed;
  overflow-y: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navbar .nav-item .nav-link {
  color: rgba(64, 62, 62, 0.9);
}

.navbar .nav-item .nav-link:hover {
  color: black !important;
}

.page-overlay {
  position: absolute;
  background-color: #007bff;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#page-overlay-main {
  /* -webkit-clip-path: circle(56.6% at 12% 33%);
  clip-path: circle(56.6% at 12% 33%); */

  /* -webkit-clip-path: circle(67.7% at 0 35%);
  clip-path: circle(67.7% at 0 35%); */

  -webkit-clip-path: circle(69.4% at 0 37%);
  clip-path: circle(69.4% at 0 37%);
}
#page-overlay-collapsed {
  -webkit-clip-path: circle(32.1% at 95% 94%);
  clip-path: circle(32.1% at 95% 94%);
}

#feedback-floating-btn {
  display: flex;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  border: none;
  background-color: #fffffff2;
  font-size: 40px;
  padding: 15px;
  box-shadow: 0px 3px 20px 3px #1b1b1b5c;
  cursor: pointer;
  vertical-align: baseline;
  transition: 0.7s;
  overflow: hidden;
}

#feedback-floating-btn > span {
  display: none;
  font-size: 30px;
  padding-left: 10px;
  margin-top: auto;
}

#feedback-floating-btn:hover {
  background-color: white;
  box-shadow: 0px 7px 13px 2px #1b1b1b5c;
  border-radius: 15px;
  padding-right: 200px;
}

#feedback-floating-btn:hover > span {
  display: inline;
}

#jumbotron-container input[type=text] {
  background-color: transparent;
  border: none;

  padding: 8px;
}

#jumbotron-container input[type=text]:focus {
  outline: none;
}

::placeholder {
    color: #00000066;
    opacity: 1; /* Firefox */
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #00000066;
   text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #00000066;
   text-align: center;
}

#jumbotron-container{
  background-color: transparent;
  height: 100vh;
  margin-top: 100px;
}

.overview .call-to-action {
	text-align: center;
}
.overview .call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}

.overview .glyphicon-large {
  font-size: 72px !important;
}

.overview .title{
  margin-bottom: 2%;
}

.overview {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.overview .title h1{
  font-size: 50px;
}

#account-deleted {
  width: 500px !important;
  margin: auto;
  margin-top: 0;
  margin-top: 30px;
}
